# 2-3 Intro Python Practice  
## power iteration of sequences

<font size="5" color="#00A0B2"  face="verdana"> <B>Student will be able to</B></font>  
- Iterate through Lists using **`for`** and **`in`**
- Use **`for` *`count`* `in range()`** in looping operations  
- Use list methods **`.extend()`, `+, .reverse(), .sort()`**  
- convert between lists and strings using  **`.split()`** and **`.join()`**
- cast strings to lists **/** direct multiple print outputs to a single line.  ** `print("hi", end='')`**

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 1</B></font>
##  list iteration: `for in`
### `for item in list:`

In [4]:
# [ ] print out the "physical states of matter" (matter_states) in 4 sentences using list iteration
# each sentence should be of the format: "Solid - is state of matter #1" 
matter_states = ['solid', 'liquid', 'gas', 'plasma']
number = 1
for state in matter_states:
    print(state.capitalize(),"-","is state of matter #",number)
    number += 1

Solid - is state of matter # 1
Liquid - is state of matter # 2
Gas - is state of matter # 3
Plasma - is state of matter # 4

In [6]:
# [ ] iterate the list (birds) to see any bird names start with "c" and remove that item from the list
# print the birds list before and after removals
birds = ["turkey", "hawk", "chicken", "dove", "crow"]

for bird in birds:
    if bird.startswith("c"):
        birds.remove(bird)
    else:
        pass
print(birds)

['turkey', 'hawk', 'dove']

In [7]:
# the team makes 1pt, 2pt or 3pt baskets
# [ ] print the occurace of each type of basket(1pt, 2pt, 3pt) & total points using the list baskets
baskets = [2,2,2,1,2,1,3,3,1,2,2,2,2,1,3]
one = 0
two = 0
three = 0

for basket in baskets:
    if basket == 1:
        one += 1
    elif basket == 2:
        two += 1
    elif basket == 3:
        three += 1
print("1pt:",one,"\n2pt:",two,"\n3pt:",three)

1pt: 4
2pt: 8
3pt: 3

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 2</B></font>
##  iteration with `range(start)` & `range(start,stop)`

In [8]:
# [ ] using range() print "hello" 4 times
for count in range(0,4):
    print("hello")

hello
hello
hello
hello

In [17]:
# [ ] find spell_list length
# [ ] use range() to iterate each half of spell_list  
# [ ] label & print the first and second halves
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]
range1 = range(0,int(len(spell_list)/2))

1st half:

TypeError: 'bool' object is not iterable

In [18]:
# [ ] build a list of numbers from 20 to 29: twenties 
# append each number to twenties list using range(start,stop) iteration
# [ ] print twenties

twenties = list(range(20,30,1))
print(twenties)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [19]:
# [ ] iterate through the numbers populated in the list twenties and add each number to a variable: total
# [ ] print total
total = 0
for number in twenties:
    total += int(number)
print(total)

245

In [20]:
# check your answer above using range(start,stop)
# [ ] iterate each number from 20 to 29 using range()
# [ ] add each number to a variable (total) to calculate the sum
# should match earlier task 
total = 0

for count in range(20,30,1):
    total += count
print(total)

245

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 3</B></font>
##  iteration with `range(start:stop:skip)`

In [21]:
# [ ] create a list of odd numbers (odd_nums) from 1 to 25 using range(start,stop,skip)
# [ ] print odd_nums
# hint: odd numbers are 2 digits apart
odd_nums = list(range(1,26,2))
print(odd_nums)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

In [23]:
# [ ] create a Decending list of odd numbers (odd_nums) from 25 to 1 using range(start,stop,skip)
# [ ] print odd_nums,  output should resemble [25, 23, ...]
odd_nums.reverse()
print(odd_nums)

[25, 23, 21, 19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

In [27]:
# the list, elements, contains the names of the first 20 elements in atomic number order
# [ ] print the even number elements "2 - Helium, 4 - Beryllium,.." in the list with the atomic number
elements = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', \
 'Potassium', 'Calcium']
for number in range(2,19,2):
    print(number,"-",elements[number])

2 - Lithium
4 - Boron
6 - Nitrogen
8 - Fluorine
10 - Sodium
12 - Aluminum
14 - Phosphorus
16 - Chlorine
18 - Potassium

In [31]:
# [ ] # the list, elements_60, contains the names of the first 60 elements in atomic number order
# [ ] print the odd number elements "1 - Hydrogen, 3 - Lithium,.." in the list with the atomic number elements_60
elements_60 = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', \
 'Oxygen', 'Fluorine', 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', \
 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', 'Potassium', 'Calcium', 'Hydrogen', \
 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', \
 'Argon', 'Potassium', 'Calcium', 'Scandium', 'Titanium', 'Vanadium', 'Chromium', 'Manganese', \
 'Iron', 'Cobalt', 'Nickel', 'Copper', 'Zinc', 'Gallium', 'Germanium', 'Arsenic', 'Selenium', \
 'Bromine', 'Krypton', 'Rubidium', 'Strontium', 'Yttrium', 'Zirconium']

for element in range(1,61,2):
    print(element,"-",elements_60[element])

1 - Helium
3 - Beryllium
5 - Carbon
7 - Oxygen
9 - Neon
11 - Magnesium
13 - Silicon
15 - Sulfur
17 - Argon
19 - Calcium
21 - Helium
23 - Beryllium
25 - Carbon
27 - Oxygen
29 - Neon
31 - Magnesium
33 - Silicon
35 - Sulfur
37 - Argon
39 - Calcium
41 - Titanium
43 - Chromium
45 - Iron
47 - Nickel
49 - Zinc
51 - Germanium
53 - Selenium
55 - Krypton
57 - Strontium
59 - Zirconium

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 4</B></font>
## combine lists with `+` and `.extend()`

In [32]:
# [ ] print the combined lists (numbers_1 & numbers_2) using "+" operator
numbers_1 = [20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

# pythonic casting of a range into a list
numbers_2 = list(range(30,50,2))

print("numbers_1:",numbers_1)
print("numbers_2",numbers_2)

print("combined:",numbers_1 + numbers_2)

numbers_1: [20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
numbers_2 [30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
combined: [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [34]:
# [ ] print the combined element lists (first_row & second_row) using ".extend()" method
first_row = ['Hydrogen', 'Helium']
second_row = ['Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']

print("1st Row:", first_row)
print("2nd Row:", second_row)

first_row.extend(second_row)
print("Combined:", first_row)

1st Row: ['Hydrogen', 'Helium']
2nd Row: ['Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']
Combined: ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']

## Project: Combine 3 element rows
Choose to use **"+" or ".extend()" **to build output similar to   

```
The 1st three rows of the Period Table of Elements contain:
['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon']

The row breakdown is
Row 1: Hydrogen, Helium
Row 2: Lithium, Beryllium, Boron, Carbon, Nitrogen, Oxygen, Fluorine, Neon
Row 3: Sodium, Magnesium, Aluminum, Silicon, Phosphorus, Sulfur, Chlorine, Argon
```

In [35]:
# [ ] create the program: combined 3 element rows 

elem_1 = ['Hydrogen', 'Helium'] 
elem_2 = ['Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']
elem_3 = ['Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon']
combo = elem_1 + elem_2 + elem_3

print("The first 3 rows of the periodic table contain:\n",combo,"\n")
print("The row breakdown is:\nRow 1:",elem_1,"\nRow 2:",elem_2,"\nRow 3:",elem_3)

The first 3 rows of the periodic table contain:
 ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon']

The row breakdown is:
Row 1: ['Hydrogen', 'Helium']
Row 2: ['Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']
Row 3: ['Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon']

In [36]:
# [ ] .extend() jack_jill with "next_line" string - print the result
jack_jill = ['Jack', 'and', 'Jill', 'went', 'up', 'the', 'hill']
next_line = ['To', 'fetch', 'a', 'pail', 'of', 'water']

jack_jill.extend(next_line)
print(jack_jill)

['Jack', 'and', 'Jill', 'went', 'up', 'the', 'hill', 'To', 'fetch', 'a', 'pail', 'of', 'water']

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 5</B></font>
## .reverse() : reverse a list in place

In [37]:
# [ ] use .reverse() to print elements starting with "Calcium", "Chlorine",... in reverse order
elements = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', \
 'Potassium', 'Calcium']

elements.sort()
elements.reverse()

print(elements)

['Sulfur', 'Sodium', 'Silicon', 'Potassium', 'Phosphorus', 'Oxygen', 'Nitrogen', 'Neon', 'Magnesium', 'Lithium', 'Hydrogen', 'Helium', 'Fluorine', 'Chlorine', 'Carbon', 'Calcium', 'Boron', 'Beryllium', 'Argon', 'Aluminum']

In [38]:
# [ ] reverse order of the list... Then print only words that are 8 characters or longer from the now reversed order
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]
spell_list.reverse()

for word in spell_list:
    if len(word) > 7:
        print(word)
    else:
        pass

Solstice
Calendar
November
February
Wednesday

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 6</B></font>
## .sort() and sorted()

In [39]:
# [ ] sort the list element, so names are in alphabetical order and print elements
elements = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', \
 'Potassium', 'Calcium']

elements.sort()
print(elements)

['Aluminum', 'Argon', 'Beryllium', 'Boron', 'Calcium', 'Carbon', 'Chlorine', 'Fluorine', 'Helium', 'Hydrogen', 'Lithium', 'Magnesium', 'Neon', 'Nitrogen', 'Oxygen', 'Phosphorus', 'Potassium', 'Silicon', 'Sodium', 'Sulfur']

In [40]:
# [ ] print the list, numbers, sorted and then below print the original numbers list 
numbers = [2,2,2,1,2,1,3,3,1,2,2,2,2,1,3]
sort = sorted(numbers)

print("Sorted:",sort)
print("Original:",numbers)

Sorted: [1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3]
Original: [2, 2, 2, 1, 2, 1, 3, 3, 1, 2, 2, 2, 2, 1, 3]

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 7</B></font>
## Converting a string to a list with `.split()`

In [42]:
# [ ] split the string, daily_fact, into a list of word strings: fact_words
# [ ] print each string in fact_words in upper case on it's own line
daily_fact = "Did you know that there are 1.4 billion students in the world?"

fact_words = daily_fact.split()

for word in fact_words:
    print(word)

Did
you
know
that
there
are
1.4
billion
students
in
the
world?

In [43]:
# [ ] convert the string, code_tip, into a list made from splitting on the letter "o"

code_tip = "#Notes tend to be helpful."
new_list = code_tip.split("o")

print(new_list)

['#N', 'tes tend t', ' be helpful.']

In [44]:
# [ ] split poem on "b" to create a list: poem_words
# [ ] print poem_words by iterating the list
poem = "The bright brain, has bran!"
poem_words = poem.split("b")

for word in poem_words:
    print(word)

The
right
rain, has
ran!

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 8</B></font>
## `.join()`
### build a string from a list

In [47]:
# [ ] print a comma separated string output from the list of Halogen elements using ".join()"
halogens = ['Chlorine', 'Florine', 'Bromine', 'Iodine']

print(",".join(halogens))

Chlorine,Florine,Bromine,Iodine

In [49]:
# [ ] split the sentence, code_tip, into a words list
# [ ] print the joined words in the list with no spaces in-between
# [ ] Bonus: capitalize each word in the list before .join()
code_tip ="Read code aloud or explain the code step by step to a peer"
words = code_tip.split(" ")

print("-".join(words))

Read-code-aloud-or-explain-the-code-step-by-step-to-a-peer

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 8</B></font>  
## `list(string)` & `print("hello",end=' ')`

- **Cast a string to a list** 
- **print to the same line**

In [50]:
# [ ] cast the long_word into individual letters list 
# [ ] print each letter on a line
long_word = 'decelerating'
letters = list(long_word)

for letter in letters:
    print(letter)

d
e
c
e
l
e
r
a
t
i
n
g

In [84]:
# [ ] use use end= in print to output each string in questions with a "?" and on new lines
questions = ["What's the closest planet to the Sun", "How deep do Dolphins swim", "What time is it"]

for question in questions:
    print(question,  end="?\n")

What's the closest planet to the Sun?
How deep do Dolphins swim?
What time is it?

In [80]:
# [ ] print each item in foot bones 
#    - capitalized, both words if two word name
#    - separated by a comma and space
#    - and keeping on a single print line
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
capitalized = []

for bone in foot_bones:
    add = bone.title()
    capitalized.append(add)

print(", ".join(capitalized))

Calcaneus, Talus, Cuboid, Navicular, Lateral Cuneiform, Intermediate Cuneiform, Medial Cuneiform

[Terms of use](http://go.microsoft.com/fwlink/?LinkID=206977) &nbsp; [Privacy & cookies](https://go.microsoft.com/fwlink/?LinkId=521839) &nbsp; Â© 2017 Microsoft